@font-face {
    font-family: "f-sans";
    src: url(../fonts/f-sans/f-sans-regular.woff2) format("woff2"),
        url(../fonts/f-sans/f-sans-regular.woff) format("woff"),
        url(../fonts/f-sans/f-sans-regular.otf) format("opentype");
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: "f-sans";
    src: url(../fonts/f-sans/f-sans-medium.woff2) format("woff2"),
        url(../fonts/f-sans/f-sans-medium.woff) format("woff"),
        url(../fonts/f-sans/f-sans-medium.otf) format("opentype");
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: "f-sans";
    src: url(../fonts/f-sans/f-sans-bold.woff2) format("woff2"),
        url(../fonts/f-sans/f-sans-bold.woff) format("woff"),
        url(../fonts/f-sans/f-sans-bold.otf) format("opentype");
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: "f-mono";
    src: url(../fonts/f-mono/f-mono-regular.woff2) format("woff2"),
        url(../fonts/f-mono/f-mono-regular.woff) format("woff"),
        url(../fonts/f-mono/f-mono-regular.otf) format("truetype");
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: "f-mono";
    src: url(../fonts/f-mono/f-mono-bold.woff2) format("woff2"),
        url(../fonts/f-mono/f-mono-bold.woff) format("woff"),
        url(../fonts/f-mono/f-mono-bold.otf) format("truetype");
    font-weight: 600;
    font-display: fallback;
}

@font-face {
    font-family: "Fira Math";
    src: url(../fonts/fira-math/fira-math.woff2) format("woff2"),
        url(../fonts/fira-math/fira-math.woff) format("woff"),
        url(../fonts/fira-math/fira-math.otf) format("opentype");
    font-weight: 400;
    font-display: fallback;
}
