@font-face {
    font-family: "t-sans";
    src:
        url(../fonts/t-sans/t-sans-r.woff2) format("woff2"),
        url(../fonts/t-sans/t-sans-r.woff) format("woff"),
        url(../fonts/t-sans/t-sans-r.otf) format("opentype");
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: "t-sans";
    src:
        url(../fonts/t-sans/t-sans-ri.woff2) format("woff2"),
        url(../fonts/t-sans/t-sans-ri.woff) format("woff"),
        url(../fonts/t-sans/t-sans-ri.otf) format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "t-sans";
    src:
        url(../fonts/t-sans/t-sans-b.woff2) format("woff2"),
        url(../fonts/t-sans/t-sans-b.woff) format("woff"),
        url(../fonts/t-sans/t-sans-b.otf) format("opentype");
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: "t-sans";
    src:
        url(../fonts/t-sans/t-sans-bi.woff2) format("woff2"),
        url(../fonts/t-sans/t-sans-bi.woff) format("woff"),
        url(../fonts/t-sans/t-sans-bi.otf) format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "t-mono";
    src:
        url(../fonts/t-mono/t-mono-r.woff2) format("woff2"),
        url(../fonts/t-mono/t-mono-r.woff) format("woff"),
        url(../fonts/t-mono/t-mono-r.otf) format("opentype");
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: "t-mono";
    src:
        url(../fonts/t-mono/t-mono-ri.woff2) format("woff2"),
        url(../fonts/t-mono/t-mono-ri.woff) format("woff"),
        url(../fonts/t-mono/t-mono-ri.otf) format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "t-mono";
    src:
        url(../fonts/t-mono/t-mono-b.woff2) format("woff2"),
        url(../fonts/t-mono/t-mono-b.woff) format("woff"),
        url(../fonts/t-mono/t-mono-b.otf) format("opentype");
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: "t-mono";
    src:
        url(../fonts/t-mono/t-mono-bi.woff2) format("woff2"),
        url(../fonts/t-mono/t-mono-bi.woff) format("woff"),
        url(../fonts/t-mono/t-mono-bi.otf) format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "t-math";
    src:
        url(../fonts/t-math/t-math-r.woff2) format("woff2"),
        url(../fonts/t-math/t-math-r.woff) format("woff"),
        url(../fonts/t-math/t-math-r.otf) format("opentype");
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: "tj-sans";
    src:
        url(../fonts/tj-sans/tj-sans-r.woff2) format("woff2"),
        url(../fonts/tj-sans/tj-sans-r.woff) format("woff"),
        url(../fonts/tj-sans/tj-sans-r.ttf) format("truetype");
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: "tj-sans";
    src:
        url(../fonts/tj-sans/tj-sans-b.woff2) format("woff2"),
        url(../fonts/tj-sans/tj-sans-b.woff) format("woff"),
        url(../fonts/tj-sans/tj-sans-b.ttf) format("truetype");
    font-weight: 700;
    font-display: fallback;
}
